<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>миниБАНК</title>
    <link rel="icon" href="./assets/favicon.ico" type="image/ico">
</head>
<body>

    <div class="container">

        <header class="header">
          <div class="header__logo">
            <a href="./index.html" class="logo">
              миниБАНК
            </a>
          </div>
          <nav class="header__nav nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="#" class="nav__link">
                  <img class="nav__icon"
                  src="./assets/user-icon.svg" alt="user enter icon">
                </a>
              </li>
            </ul>
          </nav>
        </header>

        <main class="main">
          <span class="main__adds">надежность</span>
          <span class="main__adds">проценты</span>
          <span class="main__adds">кредиты</span>
          <span class="main__adds">для поколений и их поколений</span>
        </main>

        <footer class="footer">
          <div class="footer-container">
            <div class="footer__logo logo"><a href="#" class="logo">
              миниБАНК
            </a></div>
                      
            <nav class="footer__nav nav">
              <ul class="nav__list">
                <li class="nav__item">
                  <a href="#" class="nav__link">войти</a>
                  <a href="#" class="nav__link">заплатить</a>
                  <a href="#" class="nav__link" disabled>снять денег</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="links-container">
            <a href="#" class="link">
              <img class="nav__icon"
                  src="./assets/user-icon.svg" alt="user enter icon">
            </a>
            <a href="#" class="link">
              <img class="nav__icon"
                  src="./assets/user-icon.svg" alt="user enter icon">
            </a>
            <a href="#" class="link">
              <img class="nav__icon"
                  src="./assets/user-icon.svg" alt="user enter icon">
            </a>
          </div>
        </footer>

        <div class="form-container hidden">
          <form action="#" class="form" method="POST">
            <div class="form__log-form">
              <h2 class="form__heading">вход</h2>
              <input class="form__input" type="text" placeholder="логин" name="login" id="login" required>
              <input class="form__input" type="password" placeholder="пароль" name="password" id="password" required>
              <button class="form__sub-btn">войти</button>
            </div>            
            <a href="./reg.html" class="form__to-reg-form">еще не платили нам?</a>
          </form>
        </div>

    </div>    

</body>
</html>